@import '../assets/styleVars.scss';

.Portfolio__Blog{
    width: 50%;
    margin: 5% auto;
}
.Portfolio__Thumbnail{
    position: relative;
    z-index: 3;
    border: 10px solid white;
}
.Portfolio__DecoRect{
    width: 60%;
    height: 20%;
    left: 40%;
    top: 50%;
    z-index: 0;
    background-color: $primary-blue;
    position: absolute;
    
}

.Portfolio__Text{
    background-color: white;
    position: relative;
    z-index: 4;
    padding: 100px;
    margin-top: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.112);
    text-align: center;
    h2, h4, p{
        text-align: left;
    }

    h2{
        padding: 20px 0;
    }
    h4 {
        font-weight: 700;
        padding: 20px 0;
    }
    p{
        line-height: 2;
    }
    img{
        width: 80%;
        margin: 30px 10%;

    }
    
}

.Links {
    text-align: left;
    a:link, a:visited {
        color: $primary-blue;
        text-decoration: none;
        padding: 20px;
    }
    
    a:hover, a:active {
        color: black;
    }
}

@media screen and (max-width: 1070px){
.Portfolio__Blog{
    width: 80%;
}
}

@media screen and (max-width: 630px){
.Portfolio__Blog{
    width: 90%;
    margin-top: 10%;
}
.Portfolio__Text{
    margin-top: 70px;
    padding: 100px 50px;
    img{
         width: 115%;
        margin: 30px 0 30px -7%;
    }
}
}

@media screen and (max-width: 340px){

.Portfolio__Text{
    margin-top: 50px;
    padding: 100px 40px;
    font-size: 0.9rem;
}
}

.techName{
    display: inline;
    background-color: $secondary-gray;
    padding: 0 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
}
.Stack{
  padding: 40px 0;  
  text-align: left;
}