@import '../../assets/_styleVars.scss';

.NotFound{
    width: 50%;
    margin: 15% auto;
    position: relative;
    background-color: $primary-blue;
    padding: 30px;
    color: white;
    text-align: center;
    h1{
        font-size: 2.5rem;
        padding: 20px;
    }
    h2 {
        font-size: 1.8rem;
        line-height: 2;
    }
}